<div class="container">
    <div class="row">
        <div class= 'col-sm-3'>
            <h2>Villa Costa, Koh Samui</h2>
                <h3> Booking Details</h3>
                    <p>Dateformat is MM-DD-YYYY
                        <br>
                            (Example of date format 02-25-2015)
                    </p>
                </div>
            </div>
            <form role>
            <div class="form-group">
                <div class="row">
                        <div class='col-sm-3'>
                            <label for="Check in">Check in:</label>
                            <br>

                                    <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                        </span>
                                    </div>
                                 </div>



                            <label for="Check out">Check out:</label>
                            <br>
                            <div class='col-sm-3'>

                                        <div class='input-group date' id='datetimepicker2'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                    </div>

                        <div class="row">
                           <h4>Personal Details</h4>
                           <div class="row">
                             <div class='col-sm-3'>
                             <label for="title">Title</label>

                             <select class="form-control" id="sel1">
                             <option>Mr.</option>
                             <option>Mrs.</option>
                             <option>Ms.</option>
                             <option>Miss</option>
                             </select>
                             </div>
                             </div>
                            <div class="row">
                                 <div class='col-sm-3'>
                                    <label for="fn">First Name</label>
                                    <input type="text" class="form-control" id="usr">
                                </div>
                                <div class='col-sm-3'>
                                    <label for="fn">Last Name</label>
                                    <input type="text" class="form-control" id="usr">
                                </div>
                            </div>
                                <div class="row">
                                    <div class='col-sm-3'>
                                        <label for="E-mail">Email</label>
                                            <input type="text" class="form-control" id="usr">
                                    </div>
                                    <div class='col-sm-3'>
                                        <label for="Phone">Phone</label>
                                            <input type="text" class="form-control" id="usr">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-sm-3'>
                                        <label for="CoR">Country of Residence</label>
                                            <select class="form-control" id="sel2">
                                            <option>Choose</option>
                                            <option>Afghanistan</option>
                                            <option>Albania</option>
                                            <option>Algeria</option>
                                            <option>American Samoa</option>
                                            <option>Andorra</option>
                                            <option>Angola</option>
                                            <option>Anguilla</option>
                                            <option>Antarctica</option>
                                            <option>Antigua and Barbuda</option>
                                            <option>Argentina</option>
                                            <option>Armenia</option>
                                            <option>Aruba</option>
                                            <option>Australia</option>
                                            <option>Austria</option>
                                            <option>Azerbaijan</option>
                                            <option>Bahamas</option>
                                            <option>Bahrain</option>
                                            <option>Bangladesh</option>
                                            <option>Barbados</option>
                                            <option>Belarus</option>
                                            <option>Belgium</option>
                                            <option>Belize</option>
                                            <option>Benin</option>
                                            <option>Bermuda</option>
                                            <option>Bhutan</option>
                                            <option>Bolivia</option>
                                            <option>Bosnia-Herzegowina</option>
                                            <option>Botswana</option>
                                            <option>Bouvet Island</option>
                                            <option>Brazil</option>
                                            <option>Brunei Darussalam</option>
                                            <option>Bulgaria</option>
                                            <option>Burkina Faso</option>
                                            <option>Barundi</option>
                                            <option>Cambodia</option>
                                            <option>Cameroon</option>
                                            <option>Canada</option>
                                            <option>Cape Verde</option>
                                            <option>Caribbean</option>
                                            <option>Cayman Islands</option>
                                            <option>Central America</option>
                                            <option>Chad</option>
                                            <option>Chile</option>
                                            <option>China</option>
                                            <option>Christmas Island</option>
                                            <option>Colombia</option>
                                            <option>Comoros</option>
                                            <option>Congo</option>
                                            <option>Cook Islands</option>
                                            <option>Costa Rico</option>
                                            <option>Cote D Ivoire</option>
                                            <option>Croatia</option>
                                            <option>Cuba</option>
                                            <option>Cyprus</option>
                                            <option>Czech Republic</option>
                                            <option>Denmark</option>
                                            <option>Djibouti</option>
                                            <option>Dominica</option>
                                            <option>Dominican Republic</option>
                                            <option>East Timor</option>
                                            <option>Ecuador</option>
                                            <option>Egypt</option>
                                            <option>El Salvador</option>
                                            <option>Equatorial</option>
                                            <option>Eritrea</option>
                                            <option>Estonia</option>
                                            <option>Ethiopia</option>
                                            <option>Falkland Islands</option>
                                            <option>Faroe Islands</option>
                                            <option>Fiji</option>
                                            <option>Finland</option>
                                            <option>France</option>
                                            <option>France Metropolitan</option>
                                            <option>French Guiana</option>
                                            <option>French Polynesia</option>
                                            <option>Gabon</option>
                                            <option>Gambia</option>
                                            <option>Georgia</option>
                                            <option>Germany</option>
                                            <option>Ghana</option>
                                            <option>Gibraltar</option>
                                            <option>Greece</option>
                                            <option>Greenland</option>
                                            <option>Grenada</option>
                                            <option>Guadeloupe</option>
                                            <option>Guam</option>
                                            <option>Guatemala</option>
                                            <option>Guinea</option>
                                            <option>Guinea-Bissau</option>
                                            <option>Guyana</option>
                                            <option>Haiti</option>
                                            <option>Honduras</option>
                                            <option>Hong Kong</option>
                                            <option>Hungary</option>
                                            <option>Iceland</option>
                                            <option>India</option>
                                            <option>Indonesia</option>
                                            <option>Iran</option>
                                            <option>Iraq</option>
                                            <option>Ireland</option>
                                            <option>Israel</option>
                                            <option>Italy</option>
                                            <option>Jamaica</option>
                                            <option>Japan</option>
                                            <option>Jordan</option>
                                            <option>Kazakhstan</option>
                                            <option>Kenya</option>
                                            <option>Kribati</option>
                                            <option>Korea</option>
                                            <option>Kuwait</option>
                                            <option>Kyrgyzstan</option>
                                            <option>Laos</option>
                                            <option>Latvia</option>
                                            <option>Lebanon</option>
                                            <option>Lesotho</option>
                                            <option>Liberia</option>
                                            <option>Liechtenstein</option>
                                            <option>Lithunia</option>
                                            <option>Luxembourg</option>
                                            <option>Macau</option>
                                            <option>Macedonia</option>
                                            <option>Madagascar</option>
                                            <option>Malawi</option>
                                            <option>Malaysia</option>
                                            <option>Maldives</option>
                                            <option>Mali</option>
                                            <option>Malta</option>
                                            <option>Marshall Islands</option>
                                            <option>Martinique</option>
                                            <option>Mauritania</option>
                                            <option>Mauritius</option>
                                            <option>Mayotte</option>
                                            <option>Mexico</option>
                                            <option>Micronesia</option>
                                            <option>Moldova</option>
                                            <option>Monaco</option>
                                            <option>Mongolia</option>
                                            <option>Montserrat</option>
                                            <option>Morocco</option>
                                            <option>Mozambique</option>
                                            <option>Myanmar</option>
                                            <option>Namibia</option>
                                            <option>Nauru</option>
                                            <option>Nepal</option>
                                            <option>Netherlands</option>
                                            <option>New Caledonia</option>
                                            <option>New Zealand</option>
                                            <option>Nicaragua</option>
                                            <option>Niger</option>
                                            <option>Nigeria</option>
                                            <option>Niue</option>
                                            <option>Norfolk Island</option>
                                            <option>North Korea</option>
                                            <option>Norway</option>
                                            <option>Oman</option>
                                            <option>Pakistan</option>
                                            <option>Palau</option>
                                            <option>Panama</option>
                                            <option>Papua New Guinea</option>
                                            <option>Paraguay</option>
                                            <option>Peru</option>
                                            <option>Philippines</option>
                                            <option>Pitcairn Islands</option>
                                            <option>Poland</option>
                                            <option>Portugal</option>
                                            <option>Puerto Rico</option>
                                            <option>Qatar</option>
                                            <option>Reunion</option>
                                            <option>Romania</option>
                                            <option>Russia</option>
                                            <option>Rwanda</option>
                                            <option>Saint Lucia</option>
                                            <option>Samoa</option>
                                            <option>San Marino</option>
                                            <option>Saudi Arabia</option>
                                            <option>Senegal</option>
                                            <option>Seychelles</option>
                                            <option>Sierra Leone</option>
                                            <option>Singapore</option>
                                            <option>Slovakia</option>
                                            <option>Slovenia</option>
                                            <option>Solomon Islands</option>
                                            <option>Somalia</option>
                                            <option>South Africa</option>
                                            <option>Spain</option>
                                            <option>Sri Lanka</option>
                                            <option>St Helena</option>
                                            <option>Sudan</option>
                                            <option>Suriname</option>
                                            <option>Swaziland</option>
                                            <option>Sweden</option>
                                            <option>Switzerland</option>
                                            <option>Syria</option>
                                            <option>Taiwan</option>
                                            <option>Tajikistan</option>
                                            <option>Tanzania</option>
                                            <option>Thailand</option>
                                            <option>Togo</option>
                                            <option>Tokelau</option>
                                            <option>Tonga</option>
                                            <option>Trinidad and Tobago</option>
                                            <option>Tunisia</option>
                                            <option>Turkey</option>
                                            <option>Turkmenistan</option>
                                            <option>Tuvalu</option>
                                            <option>Uganda</option>
                                            <option>Ukraine</option>
                                            <option>United Arab Emirates</option>
                                            <option>United Kingdom</option>
                                            <option>United States</option>
                                            <option>Uruguay</option>
                                            <option>Uzbekistan</option>
                                            <option>Vanuatu</option>
                                            <option>Venezuela</option>
                                            <option>Vietnam</option>
                                            <option>Western Sahara</option>
                                            <option>Yemen</option>
                                            <option>Zaire</option>
                                            <option>Zambia</option>
                                            <option>Zimbabwe</option>
                                        </select>
                                    </div>

                                    <div class='col-sm-3'>
                                        <label for='TB'>Total Budget</label>
                                            <input type="text" class="form-control" id="usr">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-sm-3'>
                                        <label for='AD'>Adults</label>
                                            <input type="text" class="form-control" id="usr">
                                    </div>
                                    <div class='col-sm-3'>
                                        <label for='Children'>Children(2-11)</label>
                                            <input type="text" class="form-control" id="usr">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-sm-3'>
                                        <label for='Infants'>Infants(0-2)</label>
                                            <input type="text" class="form-control" id="usr">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-sm-3'>
                                        <label for='Comments'>Commments</label>
                                            <textarea class="form-control" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-sm-3'>
                                        <label><input type="checkbox"></label>
                                        <label for='dates'>Are your dates flexible?</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-sm-3'>
                                        <label><input type="checkbox"></label>
                                        <label for='rent'>First time you rent a villa?</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-sm-3'>
                                        <input class="btn btn-default" type="submit" value="Send enquiry to owner/manager">
                                    </div>
                                </div>












                        </div>
                    </div>
                </form>
            </div>


